@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply bg-[#0B2127];
}

.ldp-container-root {
    @apply flex w-full justify-center;
}

.ldp-container {
    @apply mx-6 w-full max-w-[600px] lg:max-w-[800px] xl:max-w-[1080px];
}

.section-title {
    @apply text-4xl lg:text-5xl;
}

.section-desc {
    @apply text-base opacity-70;
}

p {
    @apply text-white;
}
